@font-face {
  font-family: 'theme-icons';
  src:  url('fonts/theme-icons.eot?86lgeb');
  src:  url('fonts/theme-icons.eot?86lgeb#iefix') format('embedded-opentype'),
    url('fonts/theme-icons.ttf?86lgeb') format('truetype'),
    url('fonts/theme-icons.woff?86lgeb') format('woff'),
    url('fonts/theme-icons.svg?86lgeb#theme-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="vamtam-theme-"], [class*=" vamtam-theme-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'theme-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vamtam-theme-ai-single:before {
  content: "\e91b";
}
.vamtam-theme-ai:before {
  content: "\e900";
}
.vamtam-theme-arrow-up:before {
  content: "\e901";
}
.vamtam-theme-arrow-down:before {
  content: "\e902";
}
.vamtam-theme-arrow-left:before {
  content: "\e903";
}
.vamtam-theme-arrow-right:before {
  content: "\e904";
}
.vamtam-theme-arrow-solid-down-menu:before {
  content: "\e910";
}
.vamtam-theme-arrow-solid-down:before {
  content: "\e905";
}
.vamtam-theme-arrow-solid-up:before {
  content: "\e906";
}
.vamtam-theme-play:before {
  content: "\e91a";
}
.vamtam-theme-check:before {
  content: "\e919";
}
.vamtam-theme-close:before {
  content: "\e907";
}
.vamtam-theme-menu:before {
  content: "\e908";
}
.vamtam-theme-phone:before {
  content: "\e909";
}
.vamtam-theme-email:before {
  content: "\e90a";
}
.vamtam-theme-automation:before {
  content: "\e90b";
}
.vamtam-theme-ticketing:before {
  content: "\e90c";
}
.vamtam-theme-agent:before {
  content: "\e90d";
}
.vamtam-theme-data:before {
  content: "\e90e";
}
.vamtam-theme-monitoring:before {
  content: "\e90f";
}
.vamtam-theme-idea:before {
  content: "\e911";
}
.vamtam-theme-chip:before {
  content: "\e912";
}
.vamtam-theme-collaboration:before {
  content: "\e913";
}
.vamtam-theme-chart:before {
  content: "\e914";
}
.vamtam-theme-decision-tree:before {
  content: "\e915";
}
.vamtam-theme-code-document:before {
  content: "\e916";
}
.vamtam-theme-Error:before {
  content: "\e917";
}
.vamtam-theme-user-check:before {
  content: "\e918";
}
